# 1.Convert an integer to a floating-point number.

In [9]:
integer_num = 1
print("before conversion : ",integer_num)
result = float(integer_num)
print("after conversion : ",result)

before conversion :  1
after conversion :  1.0

# 2.Convert a float to an integer

In [10]:
float_num = 5.6
print("before conversion : ",float_num)
result = int(float_num)
result
print("after conversion : ",result)

before conversion :  5.6
after conversion :  5

# 3.Convert an integer to a string.

In [14]:
integer_num = 1
print("before conversion : ",integer_num)
result = str(integer_num)
print("after conversion : ",result)
type(result)

before conversion :  1
after conversion :  1

str

# 4.Convert a list to a tuple.

In [15]:
list1tp = ["apple",2,True,"hello"]
print("before conversion : ",list1)
result = tuple(list1)
print("after conversion : ",result)

before conversion :  ['apple', 2, True, 'hello']
after conversion :  ('apple', 2, True, 'hello')

# 5.Convert a tuple to a list.

In [16]:
tuple1 = ('apple', 2, True, 'hello')
print("before conversion : ",tuple1)
result = list(tuple1)
print("after conversion : ",result)

before conversion :  ('apple', 2, True, 'hello')
after conversion :  ['apple', 2, True, 'hello']

# 6.Convert a decimal number to binary

In [17]:
decimal_num = 18
print("before conversion : ",decimal_num)
result = bin(decimal_num)
print("after conversion : ",result)

before conversion :  18
after conversion :  0b10010

# 7.Convert a non-zero number to boolean

In [18]:
integer_num = 1
print("before conversion : ",integer_num)
result = bool(integer_num)
print("after conversion : ",result)

before conversion :  1
after conversion :  True